html,body {
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
  background-color:#ffcc5c;
}
canvas {
  display: inline;
  background-color:  #ff6f69;
  border:solid;
  position:relative;

}
/*.container
{
   background-color:#ffcc5c;
}*/
#canva
{
  text-align:center;
  margin-top:0px;
 /* background-color:#ffcc5c;*/
  padding-top:3%;
}
#canva2
{
  text-align:center;
  margin-top:0px;
  /*background-color:#ffcc5c;*/
  padding-top:5%;
  padding-left:5%
}
#canva3
{
  text-align:center;
  margin-top:0 auto;
  /*background-color:#ffcc5c;*/
  padding:50% 50% 20% 50%;
  

 
}
