 html,body {
  margin: 0;
  padding: 0;
  background-color:#ffcc5c;
 
}
canvas {
  display: inline;
  background-color:  #ff6f69;
  border:solid;
  margin:10% 0% 0% 10%;

}
#canva
{
 margin:0;
 padding:5%;
  background-color:#ffcc5c;
  text-align:center;
}
.heading
{
   text-align:center;
  background-color:#ffcc5c;
  font-family: 'ProFontWindows', sans-serif;
 margin-bottom:0px;
}
