html, body {
  margin: 0;
  padding: 0;
  background-color:#ffcc5c;
}
canvas {
  display: block;
  background-color:  #ff6f69;
  border:solid;
  margin:10% 0% 0% 10%;

}
.heading
{
   text-align:center;
  font-family: 'ProFontWindows', sans-serif;
}
